<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>🎃</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500&family=Poor+Story&display=swap"
        rel="stylesheet">
</head>

<body>
    <div align="center" style="font-family: 'Dancing Script',cursive; font-size: 100px; margin-top: 100px;">
        <a href = "/">
        <img width="200px" src="https://pngimg.com/uploads/halloween/halloween_PNG48.png"></a>
        <dr/>   </div>

        <div align = "center" style="font-family: 'Dancing Script',cursive; font-size: 100px; text-align: center;" >
            <span >Deleted complet</span><br/>
            <a style="font-size: 20px; color: black;" href="/user/join">📓</a>
            </div>
   
</body>

</html>