<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.jisoo.mapper.SecretMapper">
    <select id="boardList" resultType="com.example.jisoo.model.Secret">
        select * from secret
    </select>

    <insert id="Create" parameterType="com.example.jisoo.model.Secret">
        insert into secret values( NULL , #{secTitle}, #{secContent}, #{secWriter}, #{secIcon})
    </insert>

    <update id="Update" parameterType="com.example.jisoo.model.Secret">
        update secret
        set secTitle = #{secTitle}, secContent = #{secContent}
        where secNo = #{secNo}
    </update>

    <delete id="Remove" parameterType="int">
        delete from secret where secNo = #{secNo}
    </delete>

    
    

</mapper>