<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>🎃</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500&family=Poor+Story&display=swap"
        rel="stylesheet">



</head>

<body style="font-family:'Poor Story',cursive; background-image: url(https://cdn.pixabay.com/photo/2020/09/23/19/58/halloween-5596921_960_720.jpg); background-size: cover; background-repeat: no-repeat;">
    <h1 style="text-align:center; color: chocolate; margin-top: 30px; font-size: 50px;">게시글 작성</h1>


    <form action="/secret/boardCreate" method="post">
        <h3 align="center" style="color:whitesmoke; font-size: 25px;">작성자 : [[${session.user.userId}]]</h3>
       
        <div align="center" style="font-family:'Poor Story',cursive;">
        <h3 style="color:whitesmoke; ">글 제목</h3>
        <textarea name="secTitle" style="width:60%; border-radius: 15px; border: none;" required></textarea>
        <h3 style="color:whitesmoke;" >글 내용</h3>
        <textarea name="secContent" style="width:80%; height: 300px; border-radius: 25px; border: none;" required></textarea>
        
        </div>
        <div align="center">
        <input type="submit" value="게시글작성" style="background-color:#F3CA29; margin-top: 30px; font-family: 'Poor Story',cursive; border-radius: 20px; width: 100px; height:40px;" />
        <hr style="width: 85%; height: 15px; background-color: #F3CA29; border: none; border-radius: 30px; margin-top: 20px;"/>
        </div>
    </form>
    <div align = "center">
    <a style="font-size: 25px; color: black;" href="/">🌇</a>
    </div>
   
</body>

</html>