<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>🎃</title>

    

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500&family=Poor+Story&display=swap"
        rel="stylesheet">
    <style>
        table {

            border-top: 5px solid whitesmoke;
            border-collapse: collapse;
            text-align: center;

        }

        th,
        td {
            border: 1px solid whitesmoke;
            padding: 8px;

        }

        img {
        margin: auto;
        display: block;
         }
    </style>

</head>

<body bgcolor="#363537">

    <div align="center" style="margin-top: 40px; margin-bottom: 35px;">
        <a href="/">
            <img style="width: 400px; height: 180px;"
            src="https://pngimg.com/uploads/halloween/halloween_PNG121.png">
            </a>
    </div>


    <div style="font-family:'Poor Story',cursive;">
        <table style="margin-left: auto; margin-right: auto;">
            <tr bgcolor="#F3B700" style="font-family:'Poor Story',cursive; font-weight: bold; font-size: 25px;">
                <td width="150px">게시글 번호</td>
                <td width ="500px" >게시글 제목</td>
                <td width="150px">작성자</td>
            </tr>
            <th:block th:if="${boardList} != null" >
                <tr th:each="secret:${boardList}" style="font-size:20px; color: whitesmoke;">
                    <td width="150px" th:text="${secret.secNo}"></td>
                    <td width="500px" >
                        <a th:href="@{/secret/boardDetail(secNo=${secret.secNo})}" style="color: whitesmoke;">[[${secret.secTitle}]]</a>
                    </td>
                    <th:block th:if="${secret.secIcon} != null">
                    <td width="150px" th:text="${secret.secIcon}"></td>
                     </th:block>
                    <th:block th:unless="${secret.secIcon} != null">
                    <td width="150px" th:text="${secret.secWriter}"></td>
                     </th:block>
                     
                </tr>
            </th:block>

            <th:block th:unless="${boardList} != null" >
                <tr style="font-size:20px; color: whitesmoke;">
                    <td colspan="3">게시글이 존재 하지 않습니다.</td>
                </tr>
            </th:block>

        </table>
        <div align="center" style="font-size: 25px;margin-top: 15px;">
             <a href="/secret/boardCreate">✍</a>
        </div>

    </div>

    <img style="width: 100%; height:auto; bottom: 0px; position: fixed; z-index: 99999;"
        src="https://ifh.cc/g/glG8vt.png">

</body>

</html>