<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>🎃</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500&family=Poor+Story&display=swap"
        rel="stylesheet">

</head>

<body
    style="font-family:'Poor Story',cursive; background-image: url(https://cdn.pixabay.com/photo/2020/09/23/19/58/halloween-5596921_960_720.jpg); background-size: cover; background-repeat: no-repeat;">
    <h1 style="text-align:center; color: chocolate; margin-top: 30px; font-size: 50px;">[[${secret.secNo}]]번 게시글 상세</h1>
    >
    <div>
        <h3 align="center" style="color:whitesmoke; font-size: 25px;">작성자 : [[${secret.secIcon}]]</h3>
        <div align="center" style="font-family:'Poor Story',cursive;">
            <h3 style="color:whitesmoke; ">글 제목</h3>
            <textarea style="width:60%; border-radius: 15px; border: none;" name="secTitle"
                readonly>[[${secret.secTitle}]]</textarea>
            <h3 style="color:whitesmoke; ">글 내용</h3>
            <textarea name="secContent" style="width:80%; height: 300px; border-radius: 25px; border: none; margin-bottom: 20px;"
                readonly>[[${secret.secContent}]]</textarea>
            <br/>
            
            <a href="/secret/boardList" style="font-size: 25px; ">📃</a>
            
            
            <th:block th:if="${secret.secWriter}==${session.user.userId}">
              
                <a style="font-size: 28px; margin-left: 5px;margin-right: 5px;" th:href ="@{/secret/boardUpdate(secNo=${secret.secNo})}">✍</a>
            
                
                <a style="font-size: 25px;" th:href="@{/secret/boardRemove(secNo=${secret.secNo})}">❌</a>
          
                
            </th:block>
        </div>
        <hr
            style="width: 85%; height: 15px; background-color: #F3CA29; border: none; border-radius: 30px; margin-top: 20px;" />
    </div>
    <div align="center">
        <a style="font-size: 25px; color: black;" href="/">🌇</a>
    </div>

</body>

</html>