<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>🎃</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500&family=Poor+Story&display=swap"
        rel="stylesheet">
</head>

<body bgcolor="#201F16">
    <div align="center" style="font-family: 'Dancing Script',cursive; font-size: 100px; margin-top: 80px;">
        <a href = "/">
        <img width="200px" src="https://pngimg.com/uploads/halloween/halloween_PNG132.png"></a>
        <dr/> 
    <h1 style="text-align:center; color: rgb(244, 114, 22);font-family: 'Dancing Script',cursive;font-size: 80px;margin-top: 50px;">D-day count</h1>
    <div class="counter" style="margin-top: 20px; font-size: 100px; font-family:'Poor Story',cursive;text-align:center; color: aliceblue; margin-top:50px;">
        <script>
            let counter = document.querySelector('.counter');
            let today = new Date(),
                dday = new Date("Oct 31 ,2022, 00:00:00").getTime(),
                gap = dday - today,
                day = Math.floor(gap / (1000 * 60 * 60 * 24));
                hour = Math.floor((gap % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
                min = Math.floor((gap % (1000 * 60 * 60)) / (1000 * 60));

            counter.innerHTML = `${day}일` + ` ${hour}시간 ` + `${min}분`+`🎃`
        </script>
    </div>
    <div align="right"  >
        <img  style="width: 300px; height: 500px; right: 30px; position: fixed;bottom: 0; margin-top: 60px;"src="https://pngimg.com/uploads/halloween/halloween_PNG20.png">
    </div>


</body>

</html>